<head>
  <link rel="stylesheet" href="client/css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300,700&family=Roboto&display=swap" rel="stylesheet"> 
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js" ></script>
  <script src="/socket.io/socket.io.js"></script>
</head>
<body>
  <div id="container">
    <div id="player-container">
      <h2>Score</h2>
      <h3>You are: <span id="current-player-name"></span> </h3>
      <div id="player-score">0</div>
      <h2>Players</h2>
      <div id="player-list">
        <!-- <div class="player-list-entry">
        </div> -->
      </div>
    </div>
    <div id="song-input-container">
      <form id="playlist-id-form">
        <span>Spotify Playlist ID</span>
        <input id="playlist-id-input" type="text" autocomplete="off">
        <input id="playlist-id-btn" class="btn" type="submit" value="Start"></input>
      </form>
      <button id="playlist-reset-btn" class="btn">Reset</button>
      <div id="guess-artist-info">Guessed the artist!</div>
      <div id="guess-song-info">Guessed the song!</div>
      <div class="progress-bar-container">
        <div class="progress progress-striped">
          <div class="progress-bar" id="song-progress-bar">
          </div>                       
        </div> 
      </div>
      <div id="song-number-info">
        <span id="song-number">.</span> / <span id="song-total-number">.</span>
      </div>
      <form id="song-input-form">
        <input id="song-input" type="text" autocomplete="off">
        <input id="song-input-btn" class="btn" type="submit" value="Send"></input>
      </form>
      <div id="song-history-container">
        <div id="song-history">
        <!-- <div class="song-entry">
          <span class="song-artist">${trackData.artists[0].name}</span> - 
          <span class="song-title">${trackData.name}</span>
        </div> -->
      
  <!-- <div class="song-entry">
    <div>
      <img src="https://i.scdn.co/image/b16064142fcd2bd318b08aab0b93b46e87b1ebf5" class="song-album-cover">
    </div>
    <div>
      <div class="song-artist">
        Spica
      </div>
      <div class="song-title">
        Since You’re Out of My Life
      </div>
    </div>
  </div>
  
  <div class="song-entry">
    <span class="song-artist">SISTAR</span> - 
    <span class="song-title">Follow me</span>
  </div>
  
  <div class="song-entry">
    <span class="song-artist">KARD</span> - 
    <span class="song-title">Hola Hola</span>
  </div>
  
  <div class="song-entry">
    <span class="song-artist">SISTAR</span> - 
    <span class="song-title">So Cool (DJ Rubato Remix)</span>
  </div> -->
  
      </div>
      </div>
    </div>
  </div>

  <!-- <div id="chat-container">
    <div id="chat-window">
      
    </div>
  </div> -->
</body>

<script src="/client/socket.js"></script>
