* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  /* background: linear-gradient(to right, #57c1eb 0%,#246fa8 100%); */
  background: #232a36;
  font-size: 12px;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

h2 {
  margin-bottom: 10px;
}

#container {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
}
#player-container {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
  max-height: 800px;
  height: 80vh;
  background: linear-gradient(to right, #57c1eb 0%,#2bb1e6 100%);
  /* background: linear-gradient(to left, #ffae43ea 0%,#ff9100ea 100%); */
  border-radius: 10px 0px 0px 10px;
  padding: 10px;
  color: #333333;
}
#player-score {
  font-size: 4em;
  margin-bottom: 10px;
}
#player-list {
  font-size: 1.7em;
  width: 80%;
}
.player-list-entry {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#song-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 800px;
  max-height: 800px;
  height: 80vh;
  background: #2c303a;
  border-radius: 0px 10px 10px 0px;
  padding: 10px;
  color: #ffffff;
}
#playlist-id-input {
  height: 2em;
  border-radius: 5px;
  border-style: none;
  padding: 5px;
  background: rgba(0, 0, 0, 0.25);
  color: #fff;
}
#guess-artist-info,
#guess-song-info {
  visibility: hidden;
}

.progress {
  padding: 6px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar {	
  height: 18px;
	background-color: #ee303c;  
  border-radius: 4px; 
  transition: 0.4s linear;  
  transition-property: width, background-color;    
}

.progress-bar-container {
  margin: 10px auto;
  width: 500px;
  text-align: center;
}
.progress-striped .progress-bar { 	
  background-color: #57c1eb; 
  width: 0%; 
  background-image: linear-gradient(
        45deg, #91e0ff 25%, 
        transparent 25%, transparent 50%, 
        #91e0ff 50%, #91e0ff 75%,
        transparent 75%, transparent); 
  /* animation: progressAnimationStrike 6s; */
}

/* @keyframes progressAnimationStrike {
     from { width: 0 }
     to   { width: 100% }
} */

#song-number-info {
  font-size: 2em;
  margin: 1em;
}

#song-input-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-bottom: 20px;
}

#song-input {
  height: 3em;
  width: 100%;
  border-radius: 5px;
  border-style: none;
  padding: 5px;
  margin-bottom: 5px;
  background: rgba(0, 0, 0, 0.25);
  color: #fff;
}
*:focus {
  outline: none;
  caret-color: #eeeeee;
}

.btn {
  width: 10%;
  outline:none;
  height: 40px;
  text-align: center;
  width: 130px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.25);
  border: 1px solid #57c1eb;
  color: #57c1eb;
  letter-spacing:1px;
  text-shadow: 0;
  cursor: pointer;
  transition: all 0.25s ease;
}
.btn:hover {
  color: #000;
  background: #57c1eb;
}
.btn:active {
  letter-spacing: 2px ;
}

#song-history-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-height: 500px;
  overflow-y: scroll;
}
#song-history {
  display: flex;
  flex-direction: column-reverse;
  flex-grow: 1;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 10px;
}
.song-entry {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* background: #eeeeee; */
  /* border: 1px solid #eeeeee; */
  padding: 5px;
  font-size: 14px;
}
.song-entry div {
  padding: 10px;
}
.song-album-cover {
  width: 100px;
}
.song-artist {
  font-weight: 700;
}

#chat-container {
  min-width: 200px;
  max-width: 500px;
  max-height: 800px;
  height: 80vh;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  flex-grow: 1;
}
